@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    font-size: 18px;
}
#meth{
    position: fixed;
    margin-left: 500px;
}

#Font-test-Nunito{
    font-family: "Nunito", cursive;
}

#Font-test-Baloo{
    font-family: "Baloo+Bhaina+2" , cursive;
}

