
@font-face{
    font-family:"Baloo";
    src: url(includes/fonts/baloo/BalooBhaina2-Regular.ttf);
    font-weight: bold;
}
@font-face{
    font-family: "Nunito";
    src: url(includes/fonts/nunito/Nunito-Bold.ttf);
    font-weight: bold;
}
*{
    font-size: 18px;
}
#meth{
    position: fixed;
    margin-left: 500px;
}

#Font-test-Nunito{
    font-family: "Nunito";
}

#Font-test-Baloo{
    font-family: "Baloo";
}

